/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Global CSS */
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: none;
}

a {
  text-decoration: none;
}

.btn {
  height: 50px;
  background-color: #f22f49;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  padding: 0 20px;
  transition: 0.4s ease-in-out;
}

.btn:hover {
  background-color: #ffc808;
}

.btn:focus {
  box-shadow: none;
}

/* ===========
Header Section
=========== */
header {
  background-color: #222222;
  padding: 10px 0;
}

.top-menubar {
  padding: 0;
  margin: 0;
  text-align: right;
}

.top-menubar li {
  position: relative;
  display: inline;
  margin-left: 25px;
}

.top-menubar li::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -15px;
  width: 2px;
  background-color: #b6b6b6;
  height: 85%;
}

.top-menubar li:last-child::after {
  display: none;
}

.top-menubar li a {
  text-decoration: none;
  color: #b6b6b6;
  transition: 0.3s ease-in-out;
}

.top-menubar li a:hover {
  color: #f10e34;
}

.bottom-bar {
  margin-top: 10px;
}

/* Search bar */
.search-bar .input-group {
  margin-top: 10px;
}

.search-bar .input-group .btn-outline-secondary {
  width: 65px;
  background-color: #f10e34;
  border: 0;
}

.search-bar .btn-outline-secondary:focus, .search-bar .form-control:focus {
  box-shadow: 0 0 0 0;
  border: none;
  z-index: auto;
}

.search-bar .input-group .btn-outline-secondary i {
  color: #b6b6b6;
}

/* Cart Details */
.cart-details {
  margin-top: 10px;
}

.cart-details .fa-shopping-cart {
  color: #fff;
  background-color: #f10e34;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  float: right;
}

.cart-details h4 {
  color: #b6b6b6;
  font-size: 18px;
  margin: 0;
  line-height: 25px;
}

.cart-details h4 span {
  display: block;
}

/* =============
Products Section
============= */
.products-grid {
  padding: 150px 0 75px;
  background-color: #f3f3f3;
}

/* Hot Deals */
.hot-deals {
  position: relative;
  background-color: #fff;
  padding: 20px;
}

.hot-deals h2 {
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.hot-deals .hr-line {
  height: 2px;
  background-color: #eaeaea;
  margin: 20px 0;
}

.hot-deals .owl-carousel .owl-item img {
  height: 259px;
  width: 100%;
}

.hot-deals .owl-nav {
  content: "";
  position: absolute;
  top: -77px;
  right: 0;
  margin: 0;
}

.hot-deals .owl-prev .fas, .hot-deals .owl-next .fas {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #eaeaea;
  transition: 0.4s ease-in-out;
}

.hot-deals .owl-prev .fas:hover, .hot-deals .owl-next .fas:hover {
  background-color: #f10e34;
}

.hot-deals p {
  text-align: center;
  margin: 10px 0 0;
}

.hot-deals p del {
  color: #636363;
  margin-right: 10px;
}

.hot-deals ul {
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
}

.hot-deals ul li {
  display: inline;
  color: #ffc808;
}

/* Special Deals */
.special-deals {
  position: relative;
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
}

.special-deals h2 {
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.special-deals .hr-line {
  height: 2px;
  background-color: #eaeaea;
  margin: 20px 0;
}

.special-deals .owl-carousel .owl-item img {
  height: 259px;
  width: 100%;
}

.special-deals .owl-nav {
  content: "";
  position: absolute;
  top: -77px;
  right: 0;
  margin: 0;
}

.special-deals .owl-prev .fas, .special-deals .owl-next .fas {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #eaeaea;
  transition: 0.4s ease-in-out;
}

.special-deals .owl-prev .fas:hover, .special-deals .owl-next .fas:hover {
  background-color: #f10e34;
}

.special-deals p {
  text-align: center;
  margin: 10px 0 0;
}

.special-deals p del {
  color: #636363;
  margin-right: 10px;
}

.special-deals ul {
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
}

.special-deals ul li {
  display: inline;
  color: #ffc808;
}

/* Newsletters */
.newsletters {
  background-color: #fff;
  padding: 20px;
  margin-top: 30px;
}

.newsletters h2 {
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.newsletters .hr-line {
  height: 2px;
  background-color: #eaeaea;
  margin: 20px 0;
}

.newsletters .form-control {
  background-color: #f3f3f3;
  height: 50px;
}

.newsletters .form-control:focus {
  box-shadow: 0 0 0 0;
  border: 0;
}

.newsletters .btn-newsletters {
  margin-top: 20px;
  border-radius: 50px;
}

/* Advertisement */
.advertisement {
  margin-top: 30px;
}

/* New and Latest and Features Products */
.new_latest_featured_products {
  position: relative;
  background-color: #fff;
  padding: 20px;
}

.new_latest_featured_products h2 {
  margin: 0;
  font-size: 25px;
  text-transform: uppercase;
}

.new_latest_featured_products .links {
  position: absolute;
  top: 13px;
  right: 150px;
}

.new_latest_featured_products .links a {
  font-size: 18px;
  color: black;
  margin-left: 15px;
  font-weight: 300;
  transition: 0.4s ease-in-out;
}

.new_latest_featured_products .links a:hover {
  color: #f10e34;
}

.new_latest_featured_products .hr-line {
  height: 2px;
  background-color: #eaeaea;
  margin: 20px 0;
}

.new_latest_featured_products .owl-nav {
  content: "";
  position: absolute;
  top: -77px;
  right: 0;
  margin: 0;
}

.new_latest_featured_products .owl-prev .fas, .new_latest_featured_products .owl-next .fas {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background-color: #eaeaea;
  transition: 0.4s ease-in-out;
}

.new_latest_featured_products .owl-prev .fas:hover, .new_latest_featured_products .owl-next .fas:hover {
  background-color: #f10e34;
}

.new_latest_featured_products p {
  text-align: center;
  margin: 10px 0 0;
}

.new_latest_featured_products p del {
  color: #636363;
  margin-right: 10px;
}

.new_latest_featured_products ul {
  padding: 0;
  text-align: center;
  margin: 10px 0 0;
}

.new_latest_featured_products ul li {
  display: inline;
  color: #ffc808;
}

/* Latest Products */
.latest-products {
  margin-top: 30px;
}

/* Shop Now */
.shopnow-section {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
}

.shopnow-section h2 {
  margin-top: 35px;
  text-transform: uppercase;
  font-size: 25px;
}

.shopnow-section .retina {
  margin: 0;
  color: #0f8ce9;
}

.shopnow-section .btn-shop {
  margin-top: 20px;
  padding: 0 50px;
  border-radius: 50px;
}

/* Featured Producs */
.featured-products {
  margin-top: 30px;
}

.featured-products .owl-carousel .owl-item img {
  height: 82px;
  width: 87px;
  margin: 0 auto;
}

.featured-products p {
  text-align: left;
  margin: 0;
}

.featured-products ul {
  text-align: left;
  margin: 5px 0;
}

.featured-products .second-slider {
  margin-top: 50px;
}

.new_latest_featured_products .second-slider .owl-nav {
  display: none;
}

/* =============
Sponsors Section
============= */
.sponsors-section {
  background-color: #f10e34;
}

.sponsors-slider .owl-stage {
  display: flex;
  align-items: center;
}

/* ============
Contact Section
============ */
.contact-section {
  background-color: #222222;
  padding: 75px 0;
}

.contact-section p {
  color: #b6b6b6;
}

.contact-section ul li {
  margin-bottom: 10px;
  color: #b6b6b6;
}

.contact-section ul li a {
  color: #b6b6b6;
  transition: 0.3s ease-in-out;
}

.contact-section ul li a:hover {
  transform: scale(1.1);
  padding-left: 10px;
  color: #fff;
}

.contact-section ul li i {
  color: #f10e34;
  padding-right: 15px;
  transition: 0.3s ease-in-out;
}

.contact-section h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 18px 0 15px;
}

.contact-section ul li span {
  padding-left: 32px;
}

.contact-section .payment ul li {
  display: inline;
  font-size: 40px;
}

.contact-section .payment i:hover {
  color: #ffc808;
}

/* ===========
Footer Section
=========== */
footer {
  background-color: black;
  padding: 30px 0 0;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
  color: #b6b6b6;
  margin-right: 25px;
  transition: 0.3s ease-in-out;
}

footer ul li:hover {
  color: #f10e34;
}

footer ul li i {
  padding-right: 15px;
}