/* Lato */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

/* Global CSS */
body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
}

/* ===========
Header Section
=========== */
header {
  background-color: #222222;
  padding: 10px 0;
}

.top-menubar {
  padding: 0;
  margin: 0;
  text-align: right;
}

.top-menubar li {
  position: relative;
  display: inline;
  margin-left: 25px;
}

.top-menubar li::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -15px;
  width: 2px;
  background-color: #b6b6b6;
  height: 85%;
}

.top-menubar li:last-child::after {
  display: none;
}

.top-menubar li a {
  text-decoration: none;
  color: #b6b6b6;
  transition: 0.3s ease-in-out;
}

.top-menubar li a:hover {
  color: #f10e34;
}

.bottom-bar {
  margin-top: 10px;
}

/* Search bar */
.search-bar .input-group {
  margin-top: 10px;
}

.search-bar .input-group .btn-outline-secondary {
  width: 65px;
  background-color: #f10e34;
  border: 0;
}

.search-bar .input-group .btn-outline-secondary:focus, .search-bar .input-group .form-control:focus {
  box-shadow: none;
  border-color: transparent;
}

.search-bar .input-group .btn-outline-secondary i {
  color: #b6b6b6;
}

/* Cart Details */
.cart-details {
  margin-top: 10px;
}

.cart-details .fa-shopping-cart {
  color: #fff;
  background-color: #f10e34;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 20px;
  float: right;
}

.cart-details h4 {
  color: #b6b6b6;
  font-size: 18px;
}

.cart-details h4 span {
  display: block;
}

/* =============
Sponsors Section
============= */
.sponsors-section {
  background-color: #f10e34;
}

.owl-carousel .owl-stage {
  display: flex;
  align-items: center;
}

/* ============
Contact Section
============ */
.contact-section {
  background-color: #222222;
  padding: 75px 0;
}

.contact-section p {
  color: #b6b6b6;
}

.contact-section p:hover {
  color: #fff;
}

.contact-section ul li {
  color: #b6b6b6;
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
}

.contact-section ul li:hover {
  color: #fff;
  transform: scale(1.1);
  padding-left: 10px;
}

.contact-section ul li i {
  color: #f10e34;
  padding-right: 15px;
  transition: 0.3s ease-in-out;
}

.contact-section ul li i:hover {
  color: #b6b6b6;
}

.contact-section h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 18px 0 15px;
}

.contact-section ul li span {
  padding-left: 30px;
}

.contact-section .payment ul li {
  display: inline;
  font-size: 40px;
}

.contact-section .payment ul li:hover {
  padding-left: 0;
}

/* ===========
Footer Section
=========== */
footer {
  background-color: black;
  padding: 30px 0 0;
}

footer ul {
  text-align: center;
}

footer ul li {
  display: inline;
  color: #b6b6b6;
  margin-right: 25px;
  transition: 0.3s ease-in-out;
}

footer ul li:hover {
  color: #f10e34;
}

footer ul li i {
  padding-right: 15px;
}